DATABASE_URL=
STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET_KEY=
EMAIL_FROM=
EMAIL_SERVER_HOST=
NEXTAUTH_URL=
SENDGRID_API_KEY=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
NEXTAUTH_SECRET=
EMAIL_SERVER_PORT=
SPACES_ENDPOINT=
SPACES_BUCKET=
SPACES_KEY=
SPACES_SECRET=
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
NEXT_PUBLIC_POSTHOG_TOKEN=
